.flex {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: auto;
}

.links {
  display: flex;
  gap: 4rem;

  color: rgb(245, 245, 245);
}

a:hover {
  background-color: rgba(238, 2, 2, 0.534);
  color: rgb(255, 255, 255);
}
a {
  color: rgb(255, 255, 255);
}
* {
  text-align: center;
}

button {
  background: rgb(153, 14, 14);
  width: auto;
  height: auto;
  border-radius: 25px 25px 25px 25px;
  color: rgb(255, 255, 255);
  font-size: 18px;
  border-color: rgb(179, 15, 15);
}
input {
  background: rgba(255, 255, 255, 0.911);
  width: 150px;
  height: 30px;
  border: 25px;
  color: rgb(190, 31, 31);
}
p {
  color: azure;
}
