body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #e6e6e6;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.search{
  margin: 10% 10% 2% 10%;
  display: grid;
}
.search input{
  width: 700px;
  height: 40px;
  justify-self: center;
  border-radius: 8px;
  font-size: 16px;
  padding-left: 10px;
}

.videoList{
  display: grid;
  grid-template-columns: auto auto auto;
  padding: 10px;
  row-gap: 40px;
  column-gap: 40px;
  margin: 0 10%;
}

.video{
  width: 360px;
  box-shadow: 0px 10px 8px 0 rgba(0,0,0,0.2);
  /* transition: 0.3s; */
  background-color: #ffffff;
  padding: 10px;
  background: #e6e6e6;
  border-radius: 8px;
  display: grid;
  grid-template-rows: auto auto auto 40px ;
  padding: 10px;
  text-align: center;
}

.video button{
  padding: 10px;
  width: 200px;
}

.details p{
  font-size: 14px;
}

.header {
  z-index: 1;
  position: fixed;
  top: 0;
  left: 0;
  overflow: hidden;
  background-color: #212121;
  width: 100%;
  display: grid;
  grid-template-columns: auto auto;
  align-items: center;
  justify-content: space-between;
}

.header > div {
  text-align: center;
  padding: 10px 0;
}

.header a {
  color: rgb(255, 255, 255);
  float: left;
  padding: 12px;
  text-decoration: none;
  font-size: 18px; 
  line-height: 25px;
  font-weight: bold;
}
  
.header a:hover {
  color: rgb(131, 131, 131);
}

.details{
  margin: 10%;
  justify-self: center;
  display: grid;
  grid-template-rows: 50px auto auto auto 90px auto;
  box-shadow: 0px 10px 8px 0 rgba(0,0,0,0.2);
  background: #eeeeee;
  border-radius: 8px;
  padding: 30px;

}

.details h3{
  text-align: center;
}

.details iframe {
  margin-top: 2%;
  justify-self: center;
  width: 400px;
}

.watch{
  margin: 10%;
  justify-self: center;
  display: grid;
  box-shadow: 0px 10px 8px 0 rgba(0,0,0,0.2);
  background: #eeeeee;
  border-radius: 8px;
  padding: 30px;
}

.watch button {
  width: 100px;
}

#back{
  width: 200px;
  padding: 8px;
}


button{
  cursor: pointer;
  background-color: #970303;
  color: rgb(226, 226, 226);
  justify-self: center;
  border-radius: 8px;
}

.btn{
font-size: 16px;
justify-self: center;
}
.btn button{
  width: 200px;
  padding: 5px;
}


.borderdesc{
  border-bottom: solid 1px #00000042;
  width: 98%;
  padding-bottom: 5px;
}

.channel-publishdate{
  color: #212121;
  display: grid;
  grid-template-columns: auto auto;
}

#lefth{

  justify-self: end;
}